{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}

    {{ user }}

    {% for doctor in queue %}
    {{doctor.name}}
    <form action="/next_patient" method="POST" >
        <input type="submit" value="Next patient">
    </form>

    <ul>
        {% for patient in doctor.patients %}
        <li {% if patient.id == doctor.next_patient %} style="color:red;" {% endif %}>
            {{ patient.id }} {{ patient.patients_name }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

    DELETE PATIENT
    <form action="/delete_middle_patient" method="POST" >
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <select name="doctor">
            {% for doctor in doctors %}
            <option value='{{doctor.address}}'>{{ doctor.name }}</option>
            {% endfor %}
         </select>
        <input type="submit" value="Delete">
    </form>

    ADD PATIENT
    <form action="/add_patient" method="POST" >
        <label for="name2">Name:</label>
        <input type="text" id="name2" name="name" required>
        <select name="doctor">
            {% for doctor in doctors %}
            <option value='{{doctor.address}}'>{{ doctor.name }}</option>
            {% endfor %}
         </select>
        <input type="submit" value="Add">
    </form>

    ADD VISIT
    <form action="/add_visit" method="POST" >
        <label for="id2">ID:</label>
        <input type="text" id="id2" name="id" required>
        <select name="doctor">
            {% for doctor in doctors %}
            <option value='{{doctor.address}}'>{{ doctor.name }}</option>
            {% endfor %}
         </select>
        <input type="submit" value="Add">
    </form>


{% if response is defined %}
    {{ response['message'] }}
{% endif %}

{% endblock %}